/* ========== GLOBAL ==========*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --shape: hsl(0, 0%, 100%);
    --primary-color: hsl(0, 0%, 45%);
    --text-color: hsl(0, 2%, 39%);
    --background-color: hsl(210, 10%, 98%);
    --submenu-color: hsl(0, 0%, 91%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
}

.container {
    padding: 20px;
}

.page-title {
    padding-bottom: 15px;
}

.page-body {
    background-color: #ffffff;
    padding: 15px;
}

/*========== SIDEBAR ==========*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--shape);
    width: 250px;
    height: 100%;
    /* padding: 8px 0; */
}

.sidebar .logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 10px 0px rgb(89, 89, 89);
}

.sidebar .nav-list {
    margin-top: 1rem;
}

ul {
    padding-left: 0;
}

.sidebar .nav-list li {
    position: relative;
    width: 100%;
    height: 60px;
    list-style: none;
}

.sidebar .nav-list li a {
    display: flex;
    align-items: center;
    padding: 16px;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0, 4s ease;
}

.sidebar .nav-list li a:hover:not(.finance-options-show li a),
.sidebar .nav-list li .btn-finance.selected {
    background-color: var(--primary-color);
    color: var(--shape);
    font-weight: 700;
}

.sidebar .nav-list li a i {
    margin-right: 1rem;
    font-size: 2rem;
}

.sidebar .nav-list li a .bxs-chevron-right {
    margin-left: 6rem;
    transition: transform 0.3s;
}

.sidebar .nav-list li a .bxs-chevron-right.rotate {
    transform: rotate(90deg);
}

.sidebar .nav-list ul {
    position: static;
    display: none;
}

.sidebar .nav-list .finance-options-show.show {
    display: block;
    position: relative;
    background-color: var(--submenu-color);
}

.sidebar .nav-list .finance-options-show.show li a:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.sidebar .nav-list .finance-options-show.show li a:hover::before {
    content: "";
    position: absolute;
    border-left: 0.4rem var(--primary-color) solid;
    /* top: 35%; */
    left: 0;
    height: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.sidebar .nav-list ul li a {
    padding-left: 5rem;
}

/*========== Forms ==========*/
.content {
    position: absolute;
    height: 100%;
    width: calc(100% - 250px);
    left: 25rem;
}

.content .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    padding: 0 20px;
    align-items: center;
    color: var(--shape);
}

.content .header .title h2 {
    font-weight: 400;
    font-size: 3.4rem;
}

.content .header .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.content .header .profile img {
    width: 3rem;
    height: 3rem;
    border-radius: calc(4.2rem / 2);
}

.content .header .profile .name {
    font-size: 1.4rem;
    font-weight: 400;
}

/*========== Fields ==========*/
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
